themes {
    matugen {
        fg "#376214"
        bg "#71d56a"
        black "#131313"
        red "#848a80"
        green "#fff3a5"
        yellow "#abffa5"
        blue "#d4ffb1"
        magenta "#e3ffcd"
        cyan "#baea94"
        white "#376214"
        orange "#ffb19f"
    }
}
