/* DMS Matugen Zen Browser Theme */
:root {
  --zen-primary-color: #265101 !important;
  --toolbarbutton-icon-fill: #a2d579 !important;
  --toolbar-field-color: #e2e2e2 !important;
  --tab-selected-textcolor: #a2d579 !important;
  --toolbar-color: #e2e2e2 !important;
  --arrowpanel-color: #e2e2e2 !important;
  --arrowpanel-background: #1f1f1f !important;
  --sidebar-text-color: #e2e2e2 !important;
  --zen-main-browser-background: #131313 !important;
}

.sidebar-placesTree {
  background-color: #1f1f1f !important;
}

#zen-workspaces-button {
  background-color: #1f1f1f !important;
}

#TabsToolbar {
  background-color: #131313 !important;
}

.urlbar-background {
  background-color: #1f1f1f !important;
}

.urlbar-input::selection {
  color: #183800 !important;
  background-color: #a2d579 !important;
}

.urlbarView-url {
  color: #c6c6c6 !important;
}

toolbar .toolbarbutton-1 {
  &:not([disabled]) {
    &:is([open], [checked])
      > :is(
        .toolbarbutton-icon,
        .toolbarbutton-text,
        .toolbarbutton-badge-stack
      ) {
      fill: #a2d579
    }
  }
}

.identity-color-blue {
  --identity-tab-color: #baea94 !important;
  --identity-icon-color: #baea94 !important;
}

.identity-color-turquoise {
  --identity-tab-color: #a2d579 !important;
  --identity-icon-color: #a2d579 !important;
}

.identity-color-green {
  --identity-tab-color: #abffa5 !important;
  --identity-icon-color: #abffa5 !important;
}

.identity-color-yellow {
  --identity-tab-color: #fff3a5 !important;
  --identity-icon-color: #fff3a5 !important;
}

.identity-color-orange {
  --identity-tab-color: #ffec72 !important;
  --identity-icon-color: #ffec72 !important;
}

.identity-color-red {
  --identity-tab-color: #ffb19f !important;
  --identity-icon-color: #ffb19f !important;
}

.identity-color-pink {
  --identity-tab-color: #d4ffb1 !important;
  --identity-icon-color: #d4ffb1 !important;
}

.identity-color-purple {
  --identity-tab-color: #376214 !important;
  --identity-icon-color: #376214 !important;
}

#zen-appcontent-navbar-container {
  background-color: #131313 !important;
}

#PanelUI-menu-button .toolbarbutton-icon,
#downloads-button .toolbarbutton-icon,
#unified-extensions-button .toolbarbutton-icon {
  fill: #a2d579 !important;
  color: #a2d579 !important;
}

#PanelUI-menu-button .toolbarbutton-badge-stack,
#downloads-button .toolbarbutton-badge-stack,
#unified-extensions-button .toolbarbutton-badge-stack {
  fill: #a2d579 !important;
  color: #a2d579 !important;
}

toolbar .toolbarbutton-1 > .toolbarbutton-icon {
  fill: #a2d579 !important;
}
